# Ignore the folder created by 'VS Code Counter'.
# https://marketplace.visualstudio.com/items?itemName=uctakeoff.vscode-counter
# Used for analyse code statics.
/.VSCodeCounter
# Ignore the folder of LDoc which is responsible for generating docs.
# https://github.com/lunarmodules/LDoc
/ldoc